<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.man</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open {query} as HTML</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open {query} as PDF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Open man page using x-man-page: protocol, pdf or html</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>man</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-man-page://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}"
name="${query#*/}"
sect="${query%/*}"
file="${alfred_workflow_cache}/$name($sect).html"
page=$(man -w -S "$sect" "$name")

if [[ "$page" -nt "$file" ]]; then
	groff -Thtml -mandoc -c "$page" &gt; "$file"
fi

open "$file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Cacheing whatis database…</string>
				<key>script</key>
				<string>from alfredman import complete
print complete("{query}")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>man.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open man page</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2389990-4936-4DA7-AA4D-3236223735EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}"
name="${query#*/}"
sect="${query%/*}"
file="${alfred_workflow_cache}/$name($sect).pdf"
page=$(man -w -S "$sect" "$name")

if [[ "$page" -nt "$file" ]]; then
	man -t -S "$sect" "$name" | pstopdf -i -o "$file"
fi

open "$file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open a man(1) page with name and section filtering.

The 'man' keyword will open in your default x-man-page: protocol handler (probably Terminal.app).

Modifiers:
 * shift: open locally rendered HTML man page in default browser.
 * command: open PDF man page in default PDF viewer.

Usage:
man open(1)  # open a specific page
man open     # search all sections for pages matching 'open*'
man *open    # search all sections for pages matching '*open*'
man 2 open   # search section 2 for pages with 'open' in the name</string>
	<key>uidata</key>
	<dict>
		<key>3960E216-DE18-459D-BBCB-6F5A21C4931C</key>
		<dict>
			<key>note</key>
			<string>Display as HTML</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>74291A6F-4872-4DDA-823C-F4056C202562</key>
		<dict>
			<key>note</key>
			<string>Display in x-man-page: handler</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</key>
		<dict>
			<key>note</key>
			<string>Display as PDF</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>man</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>604800</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1 hour</string>
						<string>3600</string>
					</array>
					<array>
						<string>8 hours</string>
						<string>28800</string>
					</array>
					<array>
						<string>24 hours</string>
						<string>86400</string>
					</array>
					<array>
						<string>1 week</string>
						<string>604800</string>
					</array>
					<array>
						<string>4 weeks</string>
						<string>235200</string>
					</array>
					<array>
						<string>52 weeks</string>
						<string>31449600</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Time-to-live for internal man page name cache</string>
			<key>label</key>
			<string>Cache TTL</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>alfredman_cache_ttl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>36</string>
				<key>placeholder</key>
				<string>Positive integer required</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum number of results to return</string>
			<key>label</key>
			<string>Max. Results</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alfredman_max_results</string>
		</dict>
	</array>
	<key>version</key>
	<string>3.0</string>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfred-man</string>
</dict>
</plist>
