<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.man</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open {query} as HTML</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open {query} as PDF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Open man page using x-man-page: protocol, pdf or html</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>man</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-man-page://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}" name=${query#*/} sect=${query%/*} file=${alfred_workflow_cache}/$name\($sect\).html page=$(man -w -s $sect $name)

if [ "$page" -nt "$file" ]; then
	groff -Thtml -mandoc -c "$page" &gt; "$file"
fi

open "$file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>man</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching whatis database…</string>
				<key>script</key>
				<string>from alfredman import complete
print complete("{query}")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>man.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open man page</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2389990-4936-4DA7-AA4D-3236223735EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}" name=${query#*/} sect=${query%/*} file=${alfred_workflow_cache}/$name\($sect\).pdf page=$(man -w -s $sect $name)

if [ "$page" -nt "$file" ]; then
	man -t -s $sect $name | pstopdf -i -o "$file"
fi

open "$file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open a man(1) page with name and section filtering.

The 'man' keyword will open in your default x-man-page: protocol handler (probably Terminal.app).

Modifiers:
 * shift: open locally rendered HTML man page in default browser.
 * command: open PDF man page in default PDF viewer.

Usage:
man open(1)  # open a specific page
man open     # search all sections for pages matching 'open*'
man *open    # search all sections for pages matching '*open*'
man 2 open   # search section 2 for pages with 'open' in the name</string>
	<key>uidata</key>
	<dict>
		<key>3960E216-DE18-459D-BBCB-6F5A21C4931C</key>
		<dict>
			<key>note</key>
			<string>Display as HTML</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>74291A6F-4872-4DDA-823C-F4056C202562</key>
		<dict>
			<key>note</key>
			<string>Display in x-man-page: handler</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</key>
		<dict>
			<key>note</key>
			<string>Display as PDF</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfredman_cache_ttl</key>
		<string>604800</string>
		<key>alfredman_max_results</key>
		<string>36</string>
	</dict>
	<key>version</key>
	<string>2.2</string>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfred-man</string>
</dict>
</plist>
